.data-table {
  border-collapse: collapse;
  tr:nth-child(odd) {
    background-color: rgb(0, 0, 0, .7);
  }
  tr:nth-child(even) {
    background-color: rgb(0, 0, 0, .5);
  }
  th, td {
    font-family: sans-serif;
    font-size: 12px;
    padding: 3px 5px;
  }
}
