<html>
<head>
  <link rel="stylesheet" href="/style.css" />
  <style type="text/css">
  html,
  body {
    overflow: hidden;
  }
  </style>
  <title>🧩 jigsaw.hyottoko.club</title>
</head>
<body>
  <script>window.GAME_ID = '{{GAME_ID}}'</script>
  <script>window.WS_ADDRESS = '{{WS_ADDRESS}}'</script>
  <script src="/game.js" type="module"></script>
</body>
</html>
