@import "@mdi/font";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

// @font-face {
//   font-family: dpcomic;
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: local("dpcomic"), url("assets/font/dpcomic.woff2") format("woff2"), url("assets/font/dpcomic.woff") format("woff");
// }

* {
  font-family: Roboto, sans-serif;
}

$bg-color-transparent: rgba(0 0 0 / 70%);

.blurred {
  filter: blur(4px);
}

.has-image {
  height: 100%;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;

  &.icon-puzzle-piece { background-image: url("assets/icons/puzzle_piece.png"); }
  &.icon-sillouette { background-image: url("assets/icons/sillouette2.png"); }
  &.icon-clock { background-image: url("assets/icons/clock.png"); }
  &.icon-flag { background-image: url("assets/icons/flag.png"); }
  &.icon-replay { background-image: url("assets/icons/replay.png"); }
  &.icon-pause { background-image: url("assets/icons/pause.png"); }
  &.icon-lightning { background-image: url("assets/icons/lightning.png"); }
  &.icon-zzz { background-image: url("assets/icons/zzz.png"); }
  &.icon-preview { background-image: url("assets/icons/preview.png"); }
  &.icon-settings { background-image: url("assets/icons/settings.png"); }
  &.icon-info { background-image: url("assets/icons/info.png"); }
  &.icon-hotkey { background-image: url("assets/icons/hotkey.png"); }
  &.icon-hourglass { background-image: url("assets/icons/hourglass.png"); }
  &.icon-edit { background-image: url("assets/icons/edit.png"); }
  &.icon-volume-down { background-image: url("assets/icons/volume_down.png"); }
  &.icon-volume-up { background-image: url("assets/icons/volume_up.png"); }
  &.icon-volume-no { background-image: url("assets/icons/volume_no.png"); }
  &.icon-puzzle-piece-locked { background-image: url("assets/icons/puzzle_piece_locked.png"); }
  &.icon-puzzle-piece-free { background-image: url("assets/icons/puzzle_piece_free.png"); }
  &.icon-table { background-image: url("assets/icons/table.png"); }
  &.icon-eye { background-image: url("assets/icons/eye.png"); }
  &.icon-zoom-in { background-image: url("assets/icons/zoom_in.png"); }
  &.icon-zoom-out { background-image: url("assets/icons/zoom_out.png"); }
  &.icon-player-name { background-image: url("assets/icons/player_name.png"); }
  &.icon-arrow-up { background-image: url("assets/icons/arrow_up.png"); }
  &.icon-arrow-down { background-image: url("assets/icons/arrow_down.png"); }
  &.icon-arrow-left { background-image: url("assets/icons/arrow_left.png"); }
  &.icon-arrow-right { background-image: url("assets/icons/arrow_right.png"); }
  &.icon-center { background-image: url("assets/icons/center.png"); }
  &.icon-save-pos { background-image: url("assets/icons/save_pos.png"); }
  &.icon-load-pos { background-image: url("assets/icons/load_pos.png"); }
  &.icon-speed-up { background-image: url("assets/icons/speed_up.png"); }
  &.icon-speed-down { background-image: url("assets/icons/speed_down.png"); }
  &.icon-mouse-left { background-image: url("assets/icons/mouse_left.png"); }
  &.icon-mouse-wheel { background-image: url("assets/icons/mouse_wheel.png"); }
  &.icon-disconnect { background-image: url("assets/icons/disconnect.png"); }
  &.icon-ukraine-heart { background-image: url("assets/icons/ukraine_heart.png"); }
}

.game-teasers-holder {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}

@media (max-width: 1400px) {
  .game-teasers-holder {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 1100px) {
  .game-teasers-holder {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 800px) {
  .game-teasers-holder {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 560px) {
  .game-teasers-holder {
    grid-template-columns: auto;
  }
}

.game-teaser-image {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  background-color: #222;
}

.game-teaser {
  .v-card-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bg-color-transparent;
  }
}
.v-card-actions {
  .v-btn {
    font-weight: bold;
    padding: 0 16px !important;
  }
}

.game-teaser-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0 0 0 / 50%);
  padding: 1em;

  font-size: 13px;

  .game-teaser-info {
  }

  .game-join {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .game-replay {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.index-view,
.new-game-view {
  background: url('assets/gfx/image.webp');
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.filters {
  background: $bg-color-transparent;
  display: flex;
  gap: 10px;
}

.v-input.sorting {
  width: 180px;
  display: flex;
}

.v-chip.is-clickable {
  cursor: pointer;
}

.is-clickable {
  cursor: pointer;
}

html,
body {
  margin: 0;
  height: 100%;
}

/// todo: remove
///
///

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  text-shadow: 0 0 10px black;
}

h1 {
  font-size: 32px;
}

h2,
h3,
h4 {
  font-size: 28px;
}

// td,
// th {
//   vertical-align: top;
// }

/* ingame */

.status-messages {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $bg-color-transparent;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu-right {
  position: absolute;
  right: 0;
  top: 0;
  background: $bg-color-transparent;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu-left {
  position: absolute;
  left: 0;
  top: 0;
  background: $bg-color-transparent;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $bg-color-transparent;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
  z-index: 2;

  .opener {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}


html.view-game { overflow: hidden; }

html.view-game body { overflow: hidden; }

html.view-replay { overflow: hidden; }

html.view-replay body { overflow: hidden; }

.masonry-item {
  margin-bottom: 10px;
}

.imageteaser {
  position: relative;
  font-size: 13px;

  img {
    width: 100%;
    vertical-align: bottom;
  }

  // .imageteaser-inner {
  //   display: none;
  // }
  // &:hover .imageteaser-inner {
  //   display: block;
  // }

  .imageteaser-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0 0 0 / 50%);
    padding: 1em;
  }

  .imageteaser-title {
    margin-bottom: 1em;
  }

  .imageteaser-info {
  }

  .imageteaser-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
  }
}

.v-overlay {
  .v-overlay__scrim {
    background: $bg-color-transparent;
  }
  .v-overlay__content {
    .v-card {
      background: $bg-color-transparent;
    }
  }
}

.no-image {
  align-content: center;
  display: grid;
  text-align: center;
  border: solid 6px;
  position: relative;
}

.upload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;

  .upload-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul {
    text-align: left;
    padding-left: 40px;
    margin: 2em 0;
  }
}
