@import "@mdi/font";

// @font-face {
//   font-family: dpcomic;
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: local("dpcomic"), url("assets/font/dpcomic.woff2") format("woff2"), url("assets/font/dpcomic.woff") format("woff");
// }

html,
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;
}

$link-color: #808db0;
$link-color-hover: #c5cfeb;
$bg-color-transparent: rgba(0 0 0 / 70%);

.blurred {
  filter: blur(4px);
}

.has-image {
  height: 100%;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;

  &.icon-puzzle-piece { background-image: url("assets/icons/puzzle_piece.png"); }
  &.icon-sillouette { background-image: url("assets/icons/sillouette2.png"); }
  &.icon-clock { background-image: url("assets/icons/clock.png"); }
  &.icon-flag { background-image: url("assets/icons/flag.png"); }
  &.icon-replay { background-image: url("assets/icons/replay.png"); }
  &.icon-pause { background-image: url("assets/icons/pause.png"); }
  &.icon-lightning { background-image: url("assets/icons/lightning.png"); }
  &.icon-zzz { background-image: url("assets/icons/zzz.png"); }
  &.icon-preview { background-image: url("assets/icons/preview.png"); }
  &.icon-settings { background-image: url("assets/icons/settings.png"); }
  &.icon-info { background-image: url("assets/icons/info.png"); }
  &.icon-hotkey { background-image: url("assets/icons/hotkey.png"); }
  &.icon-hourglass { background-image: url("assets/icons/hourglass.png"); }
  &.icon-edit { background-image: url("assets/icons/edit.png"); }
  &.icon-volume-down { background-image: url("assets/icons/volume_down.png"); }
  &.icon-volume-up { background-image: url("assets/icons/volume_up.png"); }
  &.icon-volume-no { background-image: url("assets/icons/volume_no.png"); }
  &.icon-puzzle-piece-locked { background-image: url("assets/icons/puzzle_piece_locked.png"); }
  &.icon-puzzle-piece-free { background-image: url("assets/icons/puzzle_piece_free.png"); }
  &.icon-table { background-image: url("assets/icons/table.png"); }
  &.icon-eye { background-image: url("assets/icons/eye.png"); }
  &.icon-zoom-in { background-image: url("assets/icons/zoom_in.png"); }
  &.icon-zoom-out { background-image: url("assets/icons/zoom_out.png"); }
  &.icon-player-name { background-image: url("assets/icons/player_name.png"); }
  &.icon-arrow-up { background-image: url("assets/icons/arrow_up.png"); }
  &.icon-arrow-down { background-image: url("assets/icons/arrow_down.png"); }
  &.icon-arrow-left { background-image: url("assets/icons/arrow_left.png"); }
  &.icon-arrow-right { background-image: url("assets/icons/arrow_right.png"); }
  &.icon-center { background-image: url("assets/icons/center.png"); }
  &.icon-save-pos { background-image: url("assets/icons/save_pos.png"); }
  &.icon-load-pos { background-image: url("assets/icons/load_pos.png"); }
  &.icon-speed-up { background-image: url("assets/icons/speed_up.png"); }
  &.icon-speed-down { background-image: url("assets/icons/speed_down.png"); }
  &.icon-mouse-left { background-image: url("assets/icons/mouse_left.png"); }
  &.icon-mouse-wheel { background-image: url("assets/icons/mouse_wheel.png"); }
  &.icon-disconnect { background-image: url("assets/icons/disconnect.png"); }
  &.icon-ukraine-heart { background-image: url("assets/icons/ukraine_heart.png"); }
}

.game-teasers-holder {
  display: grid;
}

.finished-games {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}

@media (max-width: 1650px) {
  .finished-games {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 1300px) {
  .finished-games {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1000px) {
  .finished-games {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 700px) {
  .finished-games {
    grid-template-columns: auto;
  }
}

.running-games {
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

@media (max-width: 1650px) {
  .running-games {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 1300px) {
  .running-games {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 1000px) {
  .running-games {
    grid-template-columns: auto;
  }
}

.v-card-actions {
  .v-btn {
    font-weight: bold;
    padding: 0 16px !important;
  }
}

.v-card.running-game-teaser {
  overflow: visible;
  margin-right: 220px;

  .game-teaser-image {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 80%;
    width: 100%;
    background-color: #222;
  }

  > .v-card__overlay,
  .game-teaser-image {
    transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    border-radius: 4px;
  }

  .game-teaser-inner {
    border-radius: 4px;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: calc(100% - 40px);
    width: 240px;
    background: rgba(0 0 0 / 60%);
    padding: 1em;
    font-size: 15px;
    text-shadow: 1px 1px 3px #000;

    .game-teaser-click-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1em;
    }
  }

  &:hover > .v-card__overlay,
  &:hover .game-teaser-image {
    transform: scale(1.1);
  }
}

.v-card.finished-game-teaser {
  .game-teaser-image {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    background-color: #222;
  }

  .game-teaser-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0 0 0 / 10%);
    padding: 1em;
    font-size: 13px;
    text-shadow: 1px 1px 3px #000;

    .game-teaser-info {
      opacity: 0.9;
    }

    .game-teaser-info.secondary {
      opacity: 0;
    }

    .game-teaser-click-info {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1em;
      display: none;
    }

    .game-teaser-replay-info {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1em;
    }
  }

  &:hover {
    .game-teaser-inner {
      background: rgba(0 0 0 / 50%);

      .game-teaser-info {
        opacity: 1;
      }

      .game-teaser-click-info {
        display: block;
      }
    }
  }
}

.featured-artist-view,
.index-view,
.new-game-view {
  background: url("assets/gfx/gokhan-polat-qyC7DTbWJJk-unsplash.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.filters {
  background: $bg-color-transparent;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 10px;
}

.v-input.sorting {
  width: 200px;
  display: flex;

  .v-field__input {
    white-space: nowrap;
  }
}

.v-chip.is-clickable {
  cursor: pointer;
}

.is-clickable {
  cursor: pointer;
}

/// todo: remove
///
///

a {
  text-decoration: none;
}

a,
.opener {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: Teko, sans-serif;
  text-shadow: 1px 1px 3px black;
}

h1 {
  font-size: 32px;
}

h2,
h3,
h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
  line-height: 1;
}

// td,
// th {
//   vertical-align: top;
// }

/* ingame */

.status-messages {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $bg-color-transparent;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu-right {
  position: absolute;
  right: 0;
  top: 0;
  background: $bg-color-transparent;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu-left {
  position: absolute;
  left: 0;
  top: 0;
  background: $bg-color-transparent;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $bg-color-transparent;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
  z-index: 2;

  .opener {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

html.view-game { overflow: hidden; }

html.view-game body { overflow: hidden; }

html.view-replay { overflow: hidden; }

html.view-replay body { overflow: hidden; }

.masonry-item {
  margin-bottom: 10px;
}

.imageteaser {
  position: relative;
  font-size: 13px;
  text-shadow: 1px 1px 3px #000;

  .imageteaser-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0 0 0 / 10%);
    padding: 1em;
  }

  .imageteaser-title {
    margin-bottom: 1em;
  }

  .imageteaser-click-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    display: none;
  }

  .imageteaser-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
  }
}

.imageteaser:hover {
  .imageteaser-inner {
    background: rgba(0 0 0 / 50%);
  }

  .imageteaser-click-info {
    display: block;
  }
}

.v-overlay {
  .v-overlay__scrim {
    background: $bg-color-transparent;
  }

  .v-overlay__content {
    .v-card {
      background: rgba(0 0 0 / 90%);
    }
  }
}

.no-image {
  align-content: center;
  display: grid;
  text-align: center;
  border: solid 6px;
  position: relative;
}

.upload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;

  .upload-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul {
    text-align: left;
    padding-left: 40px;
    margin: 2em 0;
  }
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0 0 0 / 20%), 0 2px 0 0 rgba(255 255 255 / 70%) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.v-dialog.overlay-cutting,
.v-dialog.overlay-info,
.v-dialog.overlay-settings {
  .v-overlay__content {
    max-width: 440px;
  }
}

.v-dialog.overlay-connection {
  .v-overlay__content {
    max-width: 320px;
  }
}

.v-dialog.overlay-help {
  .v-overlay__content {
    max-width: 500px;
  }
}

.v-dialog.overlay-preview {
  .v-overlay__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: none;
    padding: 0;
    border: 0;
    background: none;
    max-width: none;
    max-height: none;
    width: auto;
    margin: 0;

    .v-card {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .preview {
      top: 20px;
      left: 20px;
      bottom: 20px;
      right: 20px;
      position: absolute;

      .img {
        height: 100%;
        width: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

.ingame-color-picker {
  display: flex;
  gap: 10px;
}

.current-color {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: solid 1px #222;
  border-radius: 4px;
}

.vc-photoshop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #444;
  z-index: 3000;
}

.vc-ps-fields .vc-input__input {
  color: #444;
}

.pagination {
  gap: 10px;
}

.header-bar-container {
  flex: 1;
  justify-content: center;
  height: 64px;
}

.header-bar-container > div {
  flex: 1;
  display: flex;
  padding: 0 1em;
  align-items: center;

  h4 {
    line-height: 1;
    font-size: 24px;
    user-select: none;
    white-space: nowrap;
  }

  img {
    width: 32px;
    height: 32px;
    user-select: none;
  }

  img.index {
    filter: grayscale(1);
    opacity: 0.3;
    width: 64px;
    height: 64px;
  }

  h4.index {
    line-height: 1;
    font-size: 48px;
    margin-top: 8px;
    color: rgba(100 100 100 / 100%);
    text-shadow: 1px 1px 3px rgba(0 0 0 / 25%), 0 0 0 rgb(49 49 49);
  }

  .user-welcome-message {
    white-space: nowrap;
  }
}

.v-card-title {
  font-family: Teko, sans-serif;
  font-size: 24px !important;
  text-transform: uppercase !important;
}

.v-overlay__content {
  border: solid 1px rgba(60 60 60 / 50%);
}

#canny-iframe {
  filter: invert(0.9);
  color-scheme: none;
}

.announcements-drawer {
  .v-list-item {
    border-bottom: solid 1px #111;
  }
}

.featured-artist-content {
  margin: auto;
  width: 60%;
  max-width: 1024px;

  .featured-artist-links {
    min-width: 200px;
  }
}
