/* TODO: clean up / split ingame vs pregame */

:root {
  --main-color: #c1b19f;
  --main-darker-color: #4f4e4c;
  --link-color: #808db0;
  --link-hover-color: #c5cfeb;
  --highlight-color: #dd7e7e;
  --positive-color: #64a756;
  --input-bg-color: #262523;
  --bg-color: rgba(0 0 0 / 70%);
}

@font-face {
  font-family:'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display:swap;
  src: local('Roboto'), local('Roboto-Regular'),
  url(assets/font/dpcomic.woff2) format('woff2'),
  url(assets/font/dpcomic.woff) format('woff');
}

html,
body {
  margin: 0;
  background: #2b2b2b;
  color: var(--main-color);
  height: 100%;
}

* {
  font-family: dpcomic, monospace;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-size: 20px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

td,
th {
  vertical-align: top;
}

.btn {
  display: inline-block;
  background: var(--input-bg-color);
  color: var(--link-color);
  border: solid 1px black;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px rgba(0 0 0 / 50%), 0 0 1px rgba(150 150 150 / 40%) inset;
  border-radius: 4px;
  user-select: none;
}

.btn-big {
  font-size: 1.5em;
  padding: 10px 20px;
}

.btn:hover {
  background: #2f2e2c;
  color: var(--link-hover-color);
  border: solid 1px #111;
  box-shadow: 0 0 1px rgba(150 150 150 / 40%) inset;
  cursor: pointer;
}

.btn:disabled {
  background: #2f2e2c;
  color: #8c4747 !important;
  border: solid 1px #111;
  box-shadow: 0 0 1px rgba(150 150 150 / 40%) inset;
  cursor: not-allowed;
}

input {
  background: #333230;
  border-radius: 4px;
  color: var(--main-color);
  padding: 6px 10px;
  border: solid 1px black;
  box-shadow: 0 0 3px rgba(0 0 0 / 30%) inset;
}

input:focus {
  border: solid 1px #686767;
  background: var(--input-bg-color);
}

/* ingame */

.status-messages {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--bg-color);
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu-right {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--bg-color);
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu-left {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--bg-color);
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
}

.menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-color);
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
  z-index: 2;
}

.closed {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
}

.overlay.transparent {
  background: rgba(0 0 0 / 10%);
}

.overlay-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color);
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
  z-index: 1;
}

.connection-lost .overlay-content {
  padding: 20px;
  text-align: center;
}

.preview-overlay .overlay-content-enter-active {
  animation: 0;
}

.preview-overlay .overlay-content-leave-active {
  animation: 0;
}

.preview-overlay .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: none;
  padding: 0;
  border: 0;
  background: none;
}

.preview-overlay .overlay-content .preview {
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  position: absolute;
}

.preview-overlay .overlay-content .preview .img {
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu .opener {
  display: inline-block;
  margin-right: 10px;
  color: var(--link-color);
}

.menu .opener:last-child {
  margin-right: 0;
}

.menu .opener:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0 0 0 / 20%), 0 2px 0 0 rgba(255 255 255 / 70%) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

/* pre-game stuff */

.hint {
  color: var(--main-darker-color);
}

.is-clickable {
  cursor: pointer;
}

.bit {
  background: rgb(59 55 55);
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  display: inline-block;
  margin: 0 0.25em 0.25em 0;
}

.bit.on {
  color: var(--positive-color);
}

.upload-image-teaser {
  text-align: center;
}

.upload-image-teaser .btn {
  margin-bottom: 0.5em;
}

table label {
  line-height: 32px;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 1em;
}

.image-list {
  overflow: scroll;
}

.image-list-inner {
  white-space: nowrap;
}

.imageteaser {
  width: 150px;
  height: 100px;
  display: inline-block;
  margin: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #222;
  cursor: pointer;
}

.game-teaser-wrap {
  display: inline-block;
  width: 20%;
  padding: 5px;
  box-sizing: border-box;
}

.game-teaser {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  background-color: #222;
}

.game-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.game-info-text {
  position: absolute;
  top: 0;
  background: var(--bg-color);
  padding: 5px;
}

.game-replay {
  position: absolute;
  top: 0;
  right: 0;
}

html.view-game { overflow: hidden; }

html.view-game body { overflow: hidden; }

html.view-replay { overflow: hidden; }

html.view-replay body { overflow: hidden; }

.playback-control {
  margin-top: 0.5em;
}

.switch-game-replay {
  margin-top: 0.5em;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
}

.icon.icon-puzzle-piece { background-image: url(assets/icons/puzzle_piece.png); }
.icon.icon-sillouette { background-image: url(assets/icons/sillouette2.png); }
.icon.icon-clock { background-image: url(assets/icons/clock.png); }
.icon.icon-flag { background-image: url(assets/icons/flag.png); }
.icon.icon-replay { background-image: url(assets/icons/replay.png); }
.icon.icon-pause { background-image: url(assets/icons/pause.png); }
.icon.icon-lightning { background-image: url(assets/icons/lightning.png); }
.icon.icon-zzz { background-image: url(assets/icons/zzz.png); }
.icon.icon-preview { background-image: url(assets/icons/preview.png); }
.icon.icon-settings { background-image: url(assets/icons/settings.png); }
.icon.icon-info { background-image: url(assets/icons/info.png); }
.icon.icon-hotkey { background-image: url(assets/icons/hotkey.png); }
.icon.icon-hourglass { background-image: url(assets/icons/hourglass.png); }
.icon.icon-edit { background-image: url(assets/icons/edit.png); }
.icon.icon-volume-down { background-image: url(assets/icons/volume_down.png); }
.icon.icon-volume-up { background-image: url(assets/icons/volume_up.png); }
.icon.icon-volume-no { background-image: url(assets/icons/volume_no.png); }
.icon.icon-puzzle-piece-locked { background-image: url(assets/icons/puzzle_piece_locked.png); }
.icon.icon-puzzle-piece-free { background-image: url(assets/icons/puzzle_piece_free.png); }
.icon.icon-zoom-in { background-image: url(assets/icons/zoom_in.png); }
.icon.icon-zoom-out { background-image: url(assets/icons/zoom_out.png); }
.icon.icon-player-name { background-image: url(assets/icons/player_name.png); }
.icon.icon-arrow-up { background-image: url(assets/icons/arrow_up.png); }
.icon.icon-arrow-down { background-image: url(assets/icons/arrow_down.png); }
.icon.icon-arrow-left { background-image: url(assets/icons/arrow_left.png); }
.icon.icon-arrow-right { background-image: url(assets/icons/arrow_right.png); }
.icon.icon-center { background-image: url(assets/icons/center.png); }
.icon.icon-save-pos { background-image: url(assets/icons/save_pos.png); }
.icon.icon-load-pos { background-image: url(assets/icons/load_pos.png); }
.icon.icon-speed-up { background-image: url(assets/icons/speed_up.png); }
.icon.icon-speed-down { background-image: url(assets/icons/speed_down.png); }
