<html>
<head>
  <link rel="stylesheet" href="/style.css" />
  <script src="https://unpkg.com/vue@3.0.11"></script>
  <style type="text/css">
  html,
  body {
    overflow: hidden;
  }
  </style>
  <title>🧩 jigsaw.hyottoko.club</title>
</head>
<body>
  <div id="app"></div>
  <script>window.GAME_ID = '{{GAME_ID}}'</script>
  <script>window.WS_ADDRESS = '{{WS_ADDRESS}}'</script>
  <script>window.MODE = 'play'</script>
  <script type="module">
  import main from '/game.js'
  main(document.getElementById('app'))
  </script>
</body>
</html>
